@media (max-width: 576px) {

    // porque en el footer tambien esta la clase navbar-brand 
    .navbar-brand {
        width: 75%;
    }

    main {
        .hero-container {
            flex-direction: column;
        }

        .servicios-container {
            .row {
                .box-container {
                    width: 100vw;
                    height: 50vh;
                    flex-direction: column;
                    row-gap: 15px;
                }
            }


        }

        .experiencia-container {
            flex-direction: column;

            .experiencia-info {
                padding-left: 5px;

                p {
                    width: 90%;
                }
            }
        }
    }

    .footer-container {
        grid-template-columns: 1fr;

        .footer {
            ul {
                display: none
            }
        //    &:nth-child(1) {
        //        grid-row: 1/2;
        //        grid-column: 1/2;
        //    } NO SERIA NECESARIO NO HAY CAMBIO*/
    
            &:nth-child(2) {
                grid-row: 2/3;
                grid-column: 1/2;
            }
    
            &:nth-child(3) {
                grid-row: 3/4;
                grid-column: 1/2;
            }
    
            &:nth-child(4) {
                grid-row: 4/5;
                grid-column: 1/2;
            }
    
            &:nth-child(5) {
                grid-row: 5/6;
                grid-column: 1/2;
            }
    
            &:nth-child(6) {
                grid-row: 6/7;
                grid-column: 1/2;
            }
    
            &:nth-child(7) {
                grid-row: 7/8;
                grid-column: 1/2;
            }
    
            &:nth-child(8) {
                grid-row: 9/10;
                grid-column: 1/2;
            }
    
            &:nth-child(9) {
                grid-row: 8/9;
                grid-column: 1/2;
                margin: 0 auto;
            }
    
            &:nth-child(10) {
                grid-row: 10/11;
                grid-column: 1/2;
            }
    
            &:nth-child(11){
                grid-row: 11/12 ;
                grid-column: 1/2;
            }
        }
    }
}/* cierre de media query */