.footer-container {
    background: #cbd2e0;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(6, 1fr);

    h5.footer {
        color: $color-natural-700;
        @extend %body-xs;
       
    }
    h6.footer {
        @extend %bold-m;
        @extend %h6;
    }
    .footer {
        /* display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start; */
        @include flexbox (column, flex-start, center, inherit);
        padding-top: 25px;

        &:nth-child(1) {
            grid-row: 1/2;
            grid-column: 1/2;
        }

        &:nth-child(2) {
            grid-row: 1/2;
            grid-column: 2/3;
        }

        &:nth-child(3) {
            grid-row: 1/2;
            grid-column: 3/4;
        }

        &:nth-child(4) {
            grid-row: 1/2;
            grid-column: 4/5;
        }

        &:nth-child(5) {
            grid-row: 1/2;
            grid-column: 5/6;
        }

        &:nth-child(6) {
            grid-row: 1/2;
            grid-column: 6/7;
        }

        &:nth-child(7) {
            grid-row: 2/3;
            grid-column: 1/2;
        }

        &:nth-child(8) {
            grid-row: 2/3;
            grid-column: 2/3;
        }

        &:nth-child(9) {
            grid-row: 2/3;
            grid-column: 3/5;
        }

        &:nth-child(10) {
            grid-row: 2/3;
            grid-column: 5/6;
        }

        &:nth-child(11) {
            grid-row: 2/3;
            grid-column: 6/7;
        }

        img.logoFooter {
            border-radius: 5px;
            width: 15%;
        }

    }
}